# Виртуальное окружение на Linux (конкретно ваши папки в корне)
bin/
etc/
include/
lib/
lib64/
share/
pyvenv.cfg

# На случай, если проект будет открываться на Windows
Include/
Lib/
Scripts/
.venv/
venv/

# Датасеты и изображения
works/chest_xray/
works/data/
*.png
*.jpg
*.jpeg
*.zip
*.tar.gz
